body{
    background-color: rgb(140, 198, 248);
}

.conteudo{
    padding-top: 20px;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

}
.exemplo{
    background-color: #ffffff;
    width: 30%;
    height: 400px;
    margin: 5px;
    
} 